/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jul-2015, 18:20:09
    Author     : Shay
*/

.results {
    border: 5px solid #efefef;
    padding: 50px;
}

.result {
    line-height: 30px;
    font-size: 12pt;
    border-bottom: 1px solid #efefef;
}

div.game-table, div.roulette-container {
    display: inline;
    height: 500px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
}
.gap {
    height: 50px;
    display: block;
}

.player-resigned {
    opacity: 0.5;
}
.roulette-container{
    padding: 0;
    margin: 0;
}

img.roulette {
    height: 255px;
    width: 255px;
    position: relative;
    /*float: left;*/

}
.ball {
    position: relative;
    z-index: 3;
    top: 59px;
    left: 137px;
    float: left;
}

.column {
    display: inline-block;
    vertical-align: top;
    /* float: left; */
}

.player {
    width: 250px;
    height: 55px;
    display: inline-block;
}

.player.current {
    border-bottom: 3px solid black;
}

.playerName {
    font-weight: bold;
    font-size: 12pt;
}

.SmallNumber{
    width: 40px;
    height: 40px;
} 
.MediumNumber{
    width: 40px;
    height: 62.5px;
}  
.LargeNumber{
    width: 40px;
    height: 130px;
}  
.VericalSpacer{
    width: 5px;
    height: 40px;
}  
.SmallVerticalSpacer{
    width: 5px;
    height: 17.5px;
} 
.HorizontalSpacer{
    width: 40px;
    height: 5px;
}  
.CornerSpacer{
    width: 5px;
    height: 5px;
}  
.MediumHorizontalSpacer{
    width: 85px;
    height: 5px;

}  
.LargeHorizontalSpacer{
    width: 175px;
    height: 40px;
} 

.LargeHorizontalNumber{
    width: 175px;
    height: 40px;
} 

.MediumHorizontalNumber{
    width: 85px;
    height: 40px;
}

.Red{
    color: black;
    background-color: red;
} 
.Black{
    color: white;
    background-color: black;
} 
.Green{
    color: white;
    background-color: green;
} 
.Transparent{
    background-color: transparent;
}

.hotspot {
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
div.ExtraButtons:not(:first-child) {
    margin-top: 5px;
}
.ExtraButtons .hotspot {
    display: inline-block;
}

.game-controls-area{
    vertical-align: top;
    text-align: center;
    height: 50px

}


.game-controls-area button{
    text-align: center;
    width: 70px;
    height: 100%;
}

.coins,.coin-box,.coin {
    display:inline-block;
}
.coins {
    height: 50px;
}
.coin-box {
    width: 50px;
    text-align: center;
    vertical-align: middle;

}

div.game-table div.roulette-container {
    display: inline;
    background-color: black;
}