/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jul-2015, 18:20:09
    Author     : Shay
*/

#lblTimer {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
}


div.game-table, div.roulette-container {
    display: inline;
    height: 500px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 0;
    color: #4cae4c;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    
}
.gap {
    height: 50px;
    display: block;
}

.player-resigned {
    opacity: 0.5;
}
.roulette-container{
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: top;
    text-align: left;
}

img.roulette {
    height: 255px;
    width: 255px;
    z-index: 2;

    transition:  rotate;
}
.ball {
    position: absolute;
    z-index: 3;
    top: 59px; 
    left: 119px; 
}

.column {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.player {
    width: 250px;
    height: 55px;
    display: inline-block;
}

.player.current {
    border-bottom: 3px solid black;
}

.playerName {
    font-weight: bold;
    font-size: 12pt;
}

.SmallNumber{
    width: 40px;
    height: 40px;
} 
.MediumNumber{
    width: 40px;
    height: 62.5px;
}  
.LargeNumber{
    width: 40px;
    height: 130px;
}  
.VericalSpacer{
    width: 5px;
    height: 40px;
}  
.SmallVerticalSpacer{
    width: 5px;
    height: 17.5px;
} 
.HorizontalSpacer{
    width: 40px;
    height: 5px;
}  
.CornerSpacer{
    width: 5px;
    height: 5px;
}  
.MediumHorizontalSpacer{
    width: 85px;
    height: 5px;

}  
.LargeHorizontalSpacer{
    width: 175px;
    height: 40px;
} 

.LargeHorizontalNumber{
    width: 175px;
    height: 40px;
} 

.MediumHorizontalNumber{
    width: 85px;
    height: 40px;
}

.Red{
    color: black;
    background-color: red;
} 
.Black{
    color: white;
    background-color: black;
} 
.Green{
    color: white;
    background-color: green;
} 
.Transparent{
    background-color: transparent;
}

.hotspot {
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
div.ExtraButtons:not(:first-child) {
    margin-top: 5px;
}
.ExtraButtons .hotspot {
    display: inline-block;
}

.game-controls-area{
    vertical-align: top;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #183e18;
}


.game-controls-area button{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 0;
    color: black;
    background-color: #4cae4c;
    border-radius: 10px;
    margin-right: 10px;
}

.game-controls-area button:hover{
    background-color: white;
}

.coins,.coin-box,.coin {
    display:inline-block;
}
.coins {
    height: 50px;
    margin-right: 20px;
}
.coin-box {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    color: white;

}

div.game-table div.roulette-container {
    display: inline;
    background-color: black;
}

.roulette-container {
    margin-left: 25px;
}

.game-table-area {
    text-align: center;
    background-color: #4cae4c;
    padding:  20px;
}

.game-table-area > div {
    display: inline;
}

.home-button {

    width: 200px;
    height: 30px;

}

.home-button-area {
    padding-top: 10px;
    text-align: center;
}


.results, .waiting-area {
    border: 5px solid #efefef;
    padding: 50px;
    background-color: white;
}

.result {
    line-height: 30px;
    font-size: 12pt;
    border-bottom: 1px solid #efefef;
}